*.iml
.fleet
.gradle
.idea
.kotlin
/local.properties
/.idea/caches
/.idea/deploymentTargetDropDown.xml
/.idea/gradle.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/vcs.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/**/build/
/.idea/appInsightsSettings.xml
/.idea/misc.xml
/.idea/migrations.xml
/.idea/shelf/*
/app/google-services.json
/.keystore/
/.idea/.name
/.idea/codeStyles/codeStyleConfig.xml
/.idea/codeStyles/Project.xml
/.idea/compiler.xml
/.idea/kotlinc.xml
